{"filter":false,"title":".gitignore","tooltip":"/ignore-tutorial/.gitignore","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":0,"column":11},"end":{"row":1,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":1,"column":0},"end":{"row":1,"column":1},"action":"insert","lines":["#"]}],[{"start":{"row":1,"column":1},"end":{"row":1,"column":5},"action":"insert","lines":["のあとは"],"id":9}],[{"start":{"row":1,"column":5},"end":{"row":1,"column":10},"action":"insert","lines":["コメントに"],"id":19}],[{"start":{"row":1,"column":10},"end":{"row":1,"column":12},"action":"insert","lines":["なる"],"id":25}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":12},"end":{"row":1,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1526274139727,"hash":"4294d138a7a32731d723f0a32338413a9804a67d"}